<link rel="import" href="../polymer/polymer-element.html">
<link rel="import" href="../iron-ajax/iron-ajax.html">

<dom-module id="pw-list">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    
   <table>
      <tr>
        <th>Nombre</th>
        <th>Correo</th>
        <th>Telefono</th>
        <th>Sexo</th>
      </tr>
       
      <template is="dom-repeat" items="{{data}}" as="item">
        <tr>
          <td>[[item.name]]</td>
          <td>[[item.email]]</td>
          <td>[[item.tel]]</td>
          <td>[[item.sexo]]</td>
        </tr>
      </template>
    </table>
  
  </template>

 

  <script>
    /**
     * `pw-list`
     * lista la informacion que se llena en el formulario
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class PwList extends Polymer.Element {
      static get is() { return 'pw-list'; }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'Que onda'
          },
          data: {
            type: Array
          }
        };
      }
    }

    window.customElements.define(PwList.is, PwList);
  </script>
</dom-module>
